[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-migrate = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
flask-login = "*"
requests = "*"
beautifulsoup4 = "*"
html5lib = "*"
flask-wtf = "*"
# langchain-core = "*"
# langchain-mistralai = "*"
# langchain = "*"
# duckduckgo-search = "*"
# langchain-community = "*"
# wikipedia = "*"
flask-simple-captcha = "*"
email-validator = "*"
flask = "*"
pyotp = "*"
flask-mail = "*"
werkzeug = "*"
sqlalchemy = "*"
greenlet = "*"
jinja2 = "*"
certifi = "*"
dnspython = "*"
markupsafe = "*"
charset-normalizer = "*"
mako = "*"
click = "*"
alembic = "*"
wtforms = "*"
blinker = "*"
pyjwt = "*"
six = "*"
pillow = "*"
urllib3 = "*"
dateparser = "*"

[dev-packages]

[requires]
python_version = "3.12"
