{% extends "base.html" %}

{% block content %}

<h1>About Enshittification Metrics:</h1>

<p><a href="{{ url_for('index') }}">Enshittification Metrics</a> is a site that gathers and displays enshittification metrics for (popular) tech platforms.</p>

<p>Reference linked content in <a href="{{ url_for('references') }}">references</a> section to learn what enshittification is and how its defined and measured.</p>

<p>Check out the linked <a href="{{ url_for('art') }}">art</a> to get a visceral understanding of enshittification, its lifecycle, and its emotional social and economic effects.</p>

<p>Listed in the <a href="{{ url_for('news') }}">news</a> section are linked internet content from which our enshittification metrics are drawn.</p>

<p>Transparency and fairness in judgment and assignment of metric scores is a goal of this site; as such all judgment processes algorithms and LLM use are exposed - visit <a href="https://github.com/EnshittificationMetrics/EnshittificationMetrics" target="_blank">github.com/EnshittificationMetrics/EnshittificationMetrics</a> to see all code in use. This site strives to be fully automated, enabling all news gathering and metrics value determinations to occur automatically by way of software code and generative-AI agentic functions. Our Ethics Board serves as critical human-in-the-loop; ensuring the autonomous metric gathering and reporting is reasonable and human-friendly.</p>

<p>EULA:<br>
By reading and using this site you agree, that you'll do your own research, that all content is for entertainment purposes, you will not attempt to take any legal or hateful action against the site or its creators / maintainers / host-ers, and, that judgments herewith are the product of autonomous software code. The &quot;EnshittificationMetrics.com&quot; site is just an agent collecting and collating publicly available news articles and internet forum postings.</p>

<p><a href="https://www.reddit.com/r/Enshitif_Metrics/" target="_blank">Positive / constructive suggestions and comments are welcome on our sub Reddit</a>.</p>

<p>Like the site and want to donate support? <a href="https://www.buymeacoffee.com/bristol4" target="_blank">Buy the developer an herbal tea <img src="{{ url_for('static', filename='BMC.png') }}" alt="Buy Me a Coffee" style="height: 12px; width: 8px;"></a>; donate to support the site <a href="">here</a> (<i>not yet implemented</i>); sport some <a href="https://enshitif-metrics.printify.me/products" target="_blank">branded gear</a> to help spread the word.</p>
<!-- <img src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" alt="Buy Me a Coffee" style="height: 60px; width: 217px;"> -->

Props:<br>
<a href="https://www.wikipedia.org/" target="_blank">Wikipedia</a> is an amazing resource; this site leverages Wikipedia - please consider <a href="https://donate.wikimedia.org/w/index.php?title=Special:LandingPage&country=US&uselang=en&wmf_medium=portal&wmf_source=portalFooter&wmf_campaign=portalFooter" target="_blank">supporting Wikipedia</a>.<br>
&quot;Enshittification Metrics&quot; reads <a href="https://slashdot.org/" target="_blank">Slashdot.org</a> as a news source - you might want to too.<br>
<br>
Tech stack:<br>
Ubuntu Linux OS; Apache webserver; Let's Encrypt for SSL cert; WSGI (Web Server Gateway Interface) (Python to HTML); Flask (web framework); Python; HTML; CSS; SQLite; SQL Alchemy; Beautiful Soup; html5lib; LangChain; more<br>
<br>
{% endblock %}
