{% extends "base.html" %}

{% block content %}

<h1>Enshittification Art:</h1>

Sort type: <!-- ranking_sort -->
<strong>{{current_user.ranking_sort}}</strong> ~ 
<button id="sortAlph">Alphabetically</button> ~ 
<button id="sortAge">by Age</button>
<br>

Sort order: <!-- display_order --> 
<strong>{{current_user.display_order}}</strong>
<button id="sortAsc">Ascending</button> ~ 
<button id="sortDesc">Descending</button>
<br>

<ul>
	{% for item in art %}
		<strong>{{ item.text }}</strong><br>
		<a href="{{ item.url }}" target="_blank">{{ item.url }}</a><br>
		{{ item.date_pub }}<br>
		{{ item.summary }}<br>
		Entities:
		{% if item.ent_names %}
			{% for ent in item.ent_names %}
				{{ ent }}, 
			{% endfor %}
		{% else %}
			None
		{% endif %}
		<br>
		ID #{{ item.id }}<br>
	{% endfor %}
</ul>

<script src="{{ url_for('static', filename='js/filtersortscript.js') }}" defer></script>

{% endblock %}
