<!doctype html>
<html>
	<head>
		<title>EnshittificationMetrics</title>
		<link rel="icon" type="image/x-icon" sizes="32x32"   href="{{ url_for('static', filename='enshitfavicon-32x32.png') }}">
		<link rel="icon" type="image/x-icon" sizes="512x512" href="{{ url_for('static', filename='enshitfavicon-512x512.png') }}">
	</head>
	<body>
		<h1>Enshittification Metrics:</h1>
		Menu:<br>
		<a href="{{ url_for('rankings') }}"     >rankings</a> ~ 
		<a href="{{ url_for('news') }}"         >news</a> ~ 
		<a href="{{ url_for('art') }}"          >art</a> ~ 
		<a href="{{ url_for('references') }}"   >references</a> ~ 
		<a href="{{ url_for('about') }}"        >about</a> ~ 
		<a href="{{ url_for('index') }}"        >home</a> ~ 
		<a href="{{ url_for('survey') }}"       >survey</a> ~ 
		{% if current_user.is_anonymous %}
		<a href="{{ url_for('login') }}"        >login</a> ~ 
		<a href="{{ url_for('register') }}"     >register</a> ~ 
		<a href="{{ url_for('guest_sign_in') }}">login as guest</a><br>
		{% else %}
		<a href="{{ url_for('user', username=current_user.username) }}">{{ current_user.username }} profile</a> ~ 
		<a href="{{ url_for('logout') }}"       >logout</a><br>
		{% endif %}
		<br>
		
		Selector for functional stage:<br>
		<a href=""><strong>Stage 1</strong></a> ~ 
		<a href="">Stage 2</a> ~ 
		<a href="">Stage 3</a> ~ 
		<a href="">Stage 4</a> ~ 
		(not yet implemented)<br>
		<br>
		
		{% if current_user.role == 'administrator' %}
			<i>Dev stuff:<br>
			Entities, News, Art, References: 
			<a href="{{ url_for('report') }}"       >report all</a> ~ 
			<a href="{{ url_for('manual_add') }}"   >manual add</a> ~ 
			<a href="{{ url_for('manual_edit') }}"  >manual edit</a> ~ 
			<a href="{{ url_for('manual_delete') }}">manual delete</a> <br>
			<a href="{{ url_for('show_values') }}  ">show current user values</a><br>
			</i><br>
		{% endif %}
		
		{% block content %}{% endblock %}
	</body>
</html>
