<!doctype html>
<html lang="en">
	<head>
		<title>EnshittificationMetrics</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
		<link rel="icon" type="image/x-icon" sizes="32x32"   href="{{ url_for('static', filename='enshitfavicon-32x32.png') }}">
		<link rel="icon" type="image/x-icon" sizes="512x512" href="{{ url_for('static', filename='enshitfavicon-512x512.png') }}">
	</head>
	
	{% if current_user.func_stage %}
		{% if current_user.viewing_mode == "dark" %}
			<body class="stage-{{ current_user.func_stage }}-dark">
		{% else %}
			<body class="stage-{{ current_user.func_stage }}">
		{% endif %}
	{% else %}
		<body>
	{% endif %}
		<h1>Enshittification Metrics:</h1>
		Menu: 
		<a href="{{ url_for('index') }}"        >home</a> ~ 
		<a href="{{ url_for('rankings') }}"     >rankings</a> ~ 
		<a href="{{ url_for('news') }}"         >news</a> ~ 
		<a href="{{ url_for('art') }}"          >art</a> ~ 
		<a href="{{ url_for('references') }}"   >references</a> ~ 
		<a href="{{ url_for('about') }}"        >about</a> ~ 
		<a href="{{ url_for('survey') }}"       >survey</a> ~ 
		{% if current_user.is_anonymous %}
		<a href="{{ url_for('login') }}"        >login</a> ~ 
		<a href="{{ url_for('register') }}"     >register</a> ~ 
		<a href="{{ url_for('guest_sign_in') }}">login as guest</a> ~ 
		{% else %}
		<a href="{{ url_for('user', username=current_user.username) }}">{{ current_user.username }} profile</a> ~ 
		<a href="{{ url_for('alerts') }}"       >alerts</a> ~ 
		<a href="{{ url_for('logout') }}"       >logout</a> ~ 
		{% endif %}
		<button id="modeToggle">dark/light</button><br>
		<br>
		
		Selector for functional stage: 
		{% if current_user.func_stage %}
			<strong>Stage {{current_user.func_stage}}</strong> ~ 
		{% endif %}
		<button id="stageOne">Stage 1</button> ~ 
		<button id="stageTwo">Stage 2</button> ~ 
		<button id="stageThree">Stage 3</button> ~ 
		<button id="stageFour">Stage 4</button>
		<br>
		<br>
		
		{% if banner %} <!-- top banner -->
			{% if not current_user.is_anonymous %}
				{% if current_user.func_stage >= 2 %} <!-- display to all but func_stage == 1 -->
					<div class="banner-ad">
						<a href="{{ banner.url }}" target="_blank">
							<img src="{{ url_for('static', filename=banner.image) }}" alt="{{ banner.alt }}">
						</a>
					</div>
				{% endif %}
			{% else %} <!-- display to not logged on users! -->
					<div class="banner-ad">
						<a href="{{ banner.url }}" target="_blank">
							<img src="{{ url_for('static', filename=banner.image) }}" alt="{{ banner.alt }}">
						</a>
					</div>
			{% endif %}
		{% endif %}
		
		{% if current_user.role == 'administrator' %}
			<i>DEV:</i><br>
			Entities, News, Art, References: 
			<a href="{{ url_for('report_all') }}"        >report all</a> ~ 
			<a href="{{ url_for('report_entities') }}"   >report entities</a> ~ 
			<a href="{{ url_for('report_news') }}"       >report news</a> ~ 
			<a href="{{ url_for('report_art') }}"        >report art</a> ~ 
			<a href="{{ url_for('report_references') }}" >report references</a> ~ 
			<a href="{{ url_for('manual_add') }}"        >manual add</a> ~ 
			<a href="{{ url_for('manual_edit') }}"       >manual edit</a> ~ 
			<a href="{{ url_for('manual_delete') }}"     >manual delete</a> <br>
			<a href="{{ url_for('show_values') }}"       >show current user values</a> ~ 
			<a href="{{ url_for('report_users') }}"      >report all users</a><br>
			<a href="{{ url_for('force_utilities') }}"   >DB force changes utilities</a><br>
			</i><br>
		{% endif %}
		
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul>
				{% for message in messages %}
					<div class="flash-mess">
					<li>{{ message }}</li>
					</div>
				{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
		
		{% block content %}{% endblock %}
		
		{% if banner %} <!-- bottom banner -->
			{% if not current_user.is_anonymous %}
				{% if current_user.func_stage == 3 %}
					<div class="banner-ad">
						<a href="{{ banner.url }}" target="_blank">
							<img src="{{ url_for('static', filename=banner.image) }}" alt="{{ banner.alt }}">
						</a>
					</div>
				{% endif %}
			{% endif %}
		{% endif %}
		
		<script src="{{ url_for('static', filename='js/togglemodescript.js') }}"></script>
		<script src="{{ url_for('static', filename='js/funcstagescript.js') }}" defer></script>
		<script src="https://unpkg.com/cytoscape/dist/cytoscape.min.js" defer></script> <!-- trusting this CDN -->
	</body>
</html>
