{% extends "base.html" %}

{% block content %}

<h1>Enshittification Metrics Entity "{{ item.name }}" Detail:</h1>

<table border="3">
<!-- name -->
	<tr>
		<td colspan="2">
			<h1><strong>{{ item.name }}</strong></h1>
		</td>
	</tr>

<!-- stage -->
	<tr>
		<td>
			<h2><strong>
			{% if current_user.func_stage == 4 %}
				Stage {{ item.stage_EM4view }}
			{% else %}
				Stage {{ item.stage_current }}
			{% endif %}
			</strong></h2>
		</td>
		<td>
			{% if item.category %}
				Category: <strong>{{ item.category }}</strong>
			{% endif %}
			<br>
			{% if item.status %}
				Status: {{ item.status }}<br>
			{% endif %}
		</td>
	</tr>

<!-- start, end, fam -->
	<tr>
		<td>
			{% if item.date_started and (item.date_started != 'UNK') %}
				Started: <strong>{{ item.date_started }}</strong>
			{% endif %}
			{% if item.date_ended and (item.date_ended != 'None') %}
				 ~ Ended: <strong>{{ item.date_ended }}</strong>
			{% endif %}
		</td>
		<td>
			{% if item.corp_fam and (item.corp_fam != 'None') %}
				Corporate Family: {{ item.corp_fam }}<br>
			{% endif %}
		</td>
	</tr>

<!-- summary -->
	<tr>
		<td colspan="2">
			{% if item.summary %}
				Summary:
				<h2><strong>{{ item.summary }}</strong></h2>
			{% endif %}
		</td>
	</tr>

<!-- data map -->
	{% if data_map %}
		<tr>
			<td colspan="2">
				<div id="cy_datamap"></div> <!-- cy dimensions and style (except nodes and edges) in css -->
				<script>
					// Pass the graph data from Python to JavaScript via html with Jinja2 
					const dataMap = {{ data_map | tojson }};
				</script>
			</td>
		</tr>
	{% endif %}

<!-- timeline -->
	{% if item.timeline %}
		<tr>
			<td colspan="2">
				Timeline: 
				<h3><div class="timeline-display">{{ item.timeline }}</div></h3>
			</td>
		</tr>
	{% endif %}

<!-- entity-stage_history -->
	{% if item.stage_history %}
		<tr>
			<td colspan="2">
				{% if item.stage_history %}
					News items: <br>
					{% for entry in item.stage_history %}
						Stage <strong>{{ entry[1] }}</strong> ~ <!-- stage -->
						{{ entry[0] }} <!-- date -->
						{% if entry[2] %}
							~ ID #{{ entry[2] }} <!-- news item id -->
							<!-- should be news title here! -->
						{% endif %}
						<br>
					{% endfor %}
				{% endif %}
				Currently 
				{% if current_user.func_stage == 4 %}
					<strong>stage {{ item.stage_EM4view }} </strong>
				{% else %}
					<strong>stage {{ item.stage_current }} </strong>
				{% endif %}
			</td>
		</tr>
	{% endif %}
</table>

<!-- News -->
{% if news %}
	<br>
	<h1>Enshittification Metrics News Items From "{{ item.name }}"'s Stage History:</h1>
	{% for news_item in news %}
		<table border="3">
			<tr>
				<td>
					News ID #{{ news_item.id }} ~ 
					{% if news_item.stage_int_value %}
						rated <strong>Stage {{ news_item.stage_int_value }}</strong><br>
					{% endif %}
					<strong>{{ news_item.text }}</strong><br>
					{% if news_item.url %}
						<a href="{{ news_item.url }}" target="_blank">{{ news_item.url }}</a><br>
					{% endif %}
					{{ news_item.date_pub }}<br>
					{{ news_item.summary }}<br>
					Entities:
					{% if news_item.ent_names %}
						{% for ent in news_item.ent_names %}
							{{ ent }}, 
						{% endfor %}
						<br>
					{% endif %}
					{% if news_item.judgment %}
						{{ news_item.judgment }}<br>
					{% endif %}
				</td>
			</tr>
		</table>
		<br>
	{% endfor %}
{% endif %}

<!-- <script src="{{ url_for('static', filename='js/filtersortscript.js') }}" defer></script> don't use these controls on this page -->

<script src="{{ url_for('static', filename='js/graphdatamap.js') }}" defer></script>

{% endblock %}
