{% extends "base.html" %}

{% block content %}

<table border="3">
	<tr>
		<td>
			<div class="header-in-table">
			Welcome...<br>
			To the Enshitiffication Metrics portal; 
			get and stay up to speed on this trend-ist term.<br>
			<!-- Here for <a href="{{ url_for('references') }}">references</a> or <a href="{{ url_for('about') }}">about</a>.-->
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="header-in-table">
			Check out the <a href="{{ url_for('rankings') }}">rankings</a> page! 
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="header-in-table">Interesting <a href="{{ url_for('art') }}">Art</a>:</div>
		</td>
	</tr>
	{% for item in art %}
	<tr>
		<td>
			<strong>{{ item.text }}</strong><br>
			<a href="{{ item.url }}" target="_blank">{{ item.url }}</a><br>
			{{ item.date_pub }}<br>
			{{ item.summary }}<br>
			Entities:
			{% if item.ent_names %}
				{% for ent in item.ent_names %}
					{{ ent }}, 
				{% endfor %}
			{% else %}
				None
			{% endif %}<br>
			<br>
		</td>
	</tr>
	{% endfor %}

	<tr>
		<td>
			<div class="header-in-table">Interesting <a href="{{ url_for('references') }}">References</a>:</div>
		</td>
	</tr>
	{% for item in references %}
		<tr>
			<td>
			<strong>{{ item.text }}</strong><br>
			<a href="{{ item.url }}" target="_blank">{{ item.url }}</a><br>
			{{ item.date_pub }}<br>
			{{ item.summary }}<br>
			<br>
			</td>
		</tr>
	{% endfor %}

	<tr>
		<td>
			<div class="header-in-table">Latest <a href="{{ url_for('news') }}">News</a> Updates:</div>
		</td>
	</tr>
	{% for news_item in news %}
	<tr>
		<td>
		News ID#{{ news_item.id }}<br>
		<strong>{{ news_item.text }}</strong><br>
		{% if news_item.url %}
			<a href="{{ news_item.url }}" target="_blank">{{ news_item.url }}</a><br>
		{% endif %}
		{{ news_item.date_pub }}<br>
		{{ news_item.summary }}<br>
		Entities:
		{% if news_item.ent_names %}
			{% for ent in news_item.ent_names %}
				{{ ent }}, 
			{% endfor %}
			<br>
		{% endif %}
		{% if news_item.judgment %}
			{{ news_item.judgment }}<br>
		{% endif %}
		{% if news_item.stage_int_value %}
			Stage {{ news_item.stage_int_value }}<br>
		{% endif %}
		<br>
		</td>
	</tr>
	{% endfor %}
</table>

{% endblock %}
