{% extends "base.html" %}

{% block content %}

{% with messages = get_flashed_messages() %}
	{% if messages %}
		<ul>
		{% for message in messages %}
			<div class="flash-mess">
			<li>{{ message }}</li>
			</div>
		{% endfor %}
		</ul>
	{% endif %}
{% endwith %}

<h1>Select item type to add:</h1>

<form method="POST">
    {{ form.hidden_tag() }}
    <p>
        {{ form.target_table.label }}<br>
        {{ form.target_table }}<br>
    </p>
    <p>{{ form.submit() }}</p>
</form>

{% endblock %}
