{% extends "base.html" %}

{% block content %}

<table cellspacing="5" cellpadding="5" border="5">
    <tr valign="top">

        <th colspan="2">
            <h1>{{ user.username }}'s profile:</h1>
        </th>

        <tr>
            <td>Username:</td>
            <td><h1>{{ user.username }}</h1></td>
        </tr>

        <tr>
            <td>Full Name:</td>
            <td><h1>{{ user.full_name }}</h1></td>
        </tr>

        {% if user.role != 'guest' %}
        <tr>
            <td>Email:</td>
            <td><h1>{{ user.email }}</h1>
            {% if user.validations == 'email' %}
                email validated
            {% else %}
                <a href="/send_otp?next={{ url_for('user', username=user.username) }}">Send validation code</a><br><br>
                <form action="/verify_otp?next={{ url_for('user', username=user.username) }}" method="post">
                    {{ form.hidden_tag() }}
                    {{ form.otp_code.label }}
                    {{ form.otp_code(size=6) }}
                    {{ form.submit() }}
                </form>
            {% endif %}
            </td>
        </tr>

        <tr>
            <td>Phone Number:</td>
            <td><h1>{{ user.phone_number }}</h1></td>
        </tr>
        {% endif %}

        {% if user.role %}
        <tr>
            <td>Role:</td>
            <td><h1>{{ user.role }}</h1></td>
        </tr>
        {% endif %}

        {% if user.func_stage %}
        <tr>
            <td>Functional Stage to use <br>Enshittification Metrics in:</td>
            <td><h1>Stage {{ user.func_stage }}</h1></td>
        </tr>
        {% endif %}

        {% if user.viewing_mode %}
        <tr>
            <td>Viewing Mode:</td>
            <td><h1>{{ user.viewing_mode }} mode</h1></td>
        </tr>
        {% endif %}

        {% if user.last_access %}
        <tr>
            <td>Last Logon:<br>
            (UCT date/time)</td>
            <td><h1>{{ user.last_access }}</h1></td>
        </tr>
        {% endif %}

        {% if user.ranking_cats %}
        <tr>
            <td>Ranking Categories:</td>
            <td><h1>{{ user.ranking_cats }}</h1></td>
        </tr>
        {% endif %}

        {% if user.ranking_stat %}
        <tr>
            <td>Ranking Statuses:</td>
            <td><h1>{{ user.ranking_stat }}</h1></td>
        </tr>
        {% endif %}

        {% if user.ranking_sort %}
        <tr>
            <td>Ranking Sort:</td>
            <td><h1>{{ user.ranking_sort }}</h1></td>
        </tr>
        {% endif %}

        {% if user.display_order %}
        <tr>
            <td>Ranking Order:</td>
            <td><h1>{{ user.display_order }}</h1></td>
        </tr>
        {% endif %}

        <tr>
            <td>ID:</td>
            <td><h1>#{{ user.id }}</h1></td>
        </tr>

        {% if user.role != 'guest' %}
        {% if user == current_user %}
        <tr>
            <td colspan="2" style="text-align: center;">
            <br><strong>
            <a href="{{ url_for('change_password', username=user.username) }}">Change Password</a><br>
            </strong><br>
            </td>
        </tr>

        <tr>
            <td colspan="2" style="text-align: center;">
            <br><strong>
            <a href="{{ url_for('edit_profile', username=user.username) }}">Edit Profile</a><br>
            </strong><br>
            </td>
        </tr>

        <tr>
            <td colspan="2" style="text-align: center;">
            <p><strong>Export Account</strong></p>
            <form action="/exportaccount?next={{ url_for('user', username=user.username) }}" method="post">
                {{ form_p.hidden_tag() }}
                {{ form_p.password.label }}
                {{ form_p.password(size=32) }}<br>
                <p>{{ captcha_html(captcha)|safe }}</p>
                {{ form_p.submit() }}
                {% for error in form_p.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </form>
            </td>
        </tr>

        <tr>
            <td colspan="2" style="text-align: center;">
            <p><strong>Delete Account</strong></p>
            <form action="/deleteaccount" method="post">
                {{ form_p.hidden_tag() }}
                {{ form_p.password.label }}
                {{ form_p.password(size=32) }}<br>
                <p>{{ captcha_html(captcha)|safe }}</p>
                <p>Caution - delete is permanent and is not reversible.</p>
                {{ form_p.submit() }}
                {% for error in form_p.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </form>
            </td>
        </tr>
        {% endif %}
        {% endif %}

    </tr>
</table>
<br>
<!-- <a href="{{ url_for('captcha_test', username=current_user.username) }}">captcha_test</a> -->

{% endblock %}
