/* default style if no @media match */
.container {
    width: 85%;
    padding: 15px;
}

/* desktop screens wider than 1024px */
@media (min-width: 1024px) {
    .container {
        width: 80%;
        padding: 20px;
    }
}

/* tablet screens between 769px and 1023px */
@media (min-width: 769px) and (max-width: 1023px) {
    .container {
        width: 90%;
        padding: 15px;
    }
}

/* mobile screens smaller than 768px */
@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 10px;
    }
}

/* flash feedback messages */
.flash-mess {
    color: red;
    font-weight: bold;
    border: 5px solid black;
}

/* default light mode */
body {
    background-color: white;
    color: black;
    transition: background-color 0.25s, color 0.25s;
}

/* default dark mode */
body.dark-mode {
    background-color: #121212;
    color: white;
}

/* Stage 1 body */
body.stage-1 {
    background-color: #fff7e6;
    color: black;
    transition: background-color 0.25s, color 0.25s;
}
body.stage-1-dark {
    background-color: #121212;
    color: #fff7e6;
    transition: background-color 0.25s, color 0.25s;
}

/* Stage 2 body */
body.stage-2 {
    background-color: SeaShell;
    color: black;
    transition: background-color 0.20s, color 0.20s;
}
body.stage-2-dark {
    background-color: #121212;
    color: SeaShell;
    transition: background-color 0.20s, color 0.20s;
}

/* Stage 3 body */
body.stage-3 {
    background-color: WhiteSmoke;
    color: black;
    transition: background-color 0.30s, color 0.30s;
}
body.stage-3-dark {
    background-color: #121212;
    color: WhiteSmoke;
    transition: background-color 0.30s, color 0.30s;
}

/* Stage 4 body */
body.stage-4 {
    background-color: #f1e6da;
    color: black;
    transition: background-color 0.25s, color 0.25s;
}
body.stage-4-dark {
    background-color: #121212;
    color: #f1e6da;
    transition: background-color 0.25s, color 0.25s;
}

/* Banner Ads */
.banner-ad {
    text-align: center;
    margin: 20px 0;
}

.banner-ad img {
    max-width: 100%;
    height: auto;
}

/* ID selector for Cytoscape.js container */
#cy_datamap {
    width: 800px;
    height: 600px;
    border: 1px solid #ccc;
    margin: 20px auto;
}

/* text displayed stating email or phone is validated (in profile) */
.validated {
    color: darkgreen;
    font-weight: bold;
}

/* settings values displayed in profile */
.transitory-profile-value {
    font-weight: bold;
}

/* header type rows in display tables */
.header-in-table {
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
}

/* around controls in alerts setting page */
.alert-setting-item{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #dcdcdc; /* Light gray border */
    padding: 16px;            /* Space between content and border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
    border-radius: 8px;       /* Rounded corners for a softer look */
}

/* remove ul bullets */
.remove-ul-bullets ul {
    list-style-type: none; /* Removes bullet points */
    padding: 0;           /* Removes left padding */
    margin: 0;            /* Removes top/bottom margin */
}

/* alerts setting page entity choice checkbox column wrap */
.checkbox-container {
    display: flex;
    flex-wrap: wrap;
}

.checkbox-item {
    flex: 1 0 20%; /* Adjust width: 30% for three columns */
    padding: 5px;
}

